<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<h2>Create new user</h2>
<div>
    <th:block th:include="menu">Menu</th:block>
</div>
<div>
    <form th:action="@{/admin/create-user}" th:object="${user}" method="POST">
        <fieldset>
            <legend>User info</legend>
            <p>
                <label th:for="username">name
                    <input type="text"
                           name="username"
                           th:id="username">
                </label>
                <br/>

                <label th:for="password">password
                    <input type="text"
                           name="password"
                           th:id="password">
                </label>
                <br/>
                <label>
                    <input type="checkbox"
                           name="roleAdmin"
                           th:value="ROLE_ADMIN"
                           th:text="Admin">
                </label>
            </p>
        </fieldset>
        <button type="submit">Save user</button>
    </form>
    <br/>

    <form th:action="@{/admin/show-users}" method="get">
        <button type="submit">List users</button>
    </form>

</div>
</body>
</html>